/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    padding-top: 50px !important;
    margin-bottom: 10px;
}
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
     /*Set the fixed height of the footer here*/ 
    height: 60px;
    background-color: #f5f5f5;
}

/*set a border on the images to prevent shifting*/ 
#gallery_01 img{border:2px solid white;} 
/*Change the colour*/ 
#gallery_01 .active img{border:2px solid #333 !important;}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */  


.container .text-muted {
    margin: 20px 0;
}

/*#footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}*/

code {
    font-size: 80%;
}

/* Custom carousel slide */
#banner_slide>.carousel-control, #banner_slide>.carousel-control:hover, #banner_slide>.carousel-control:focus{
    color: #76492c;

}
#banner_slide>.carousel-control.left {
    background: -moz-linear-gradient(left,  rgba(117,78,53,0.8) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(117,78,53,0.8)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(117,78,53,0.8) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(117,78,53,0.8) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(117,78,53,0.8) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(117,78,53,0.8) 0%,rgba(255,255,255,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc754e35', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}
#banner_slide>.carousel-control.right {
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(117,78,53,0.8) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(117,78,53,0.8))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(117,78,53,0.8) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(117,78,53,0.8) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(117,78,53,0.8) 100%); /* IE10+ */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(117,78,53,0.8) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cc754e35',GradientType=1 ); /* IE6-9 */
}
#banner_slide>.carousel-inner > .item > img {
    margin: 0 auto;
}

/* Custom tabs products*/
.tab-pane {
    margin-top: 10px;     
}
.row_content{    
    padding-top: 25px;
}

/* Scroll top */
.scroll-top {
   position:fixed;
   bottom:0;
   right:6%;
   z-index:100;
   background: #f2f3f2;
   font-size:24px;
   border-top-left-radius:3px;
   border-top-right-radius:3px;
}
.scroll-top a:link,.scroll-top a:visited {
  color:#222;
} 
